[submodule "payload"]
	path = payload
	url = https://github.com/Liveton/payload
	update = checkout
	branch = .
[submodule "cli"]
	path = cli
	url = https://github.com/Liveton/cli
	update = checkout
	branch = .
[submodule "gui"]
	path = gui
	url = https://github.com/Liveton/gui
	update = checkout
	branch = .
